strategy/_master/n8n-workflows/01-lead-capture.json
{
  "name": "01 — Lead Capture",
  "nodes": [
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "path": "lead-capture",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://mysitehq.com.au,https://www.mysitehq.com.au"
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-0002-0001-000000000002",
      "name": "Validate Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\n\nconst required = ['business_name', 'niche', 'suburb'];\nconst missing = required.filter(f => !body[f] || String(body[f]).trim() === '');\n\nif (missing.length > 0) {\n  throw new Error('Missing required fields: ' + missing.join(', '));\n}\n\nconst allowedNiches = [\n  'electrician', 'plumber', 'builder', 'painter', 'landscaper',\n  'physio', 'chiro', 'osteo', 'dentist', 'gp',\n  'beauty', 'skin-clinic', 'hair-salon', 'nail-salon',\n  'personal-trainer', 'yoga', 'pilates',\n  'accountant', 'solicitor', 'mortgage-broker',\n  'cafe', 'restaurant', 'food-truck',\n  'other'\n];\n\nconst niche = String(body.niche).toLowerCase().trim();\nif (!allowedNiches.includes(niche)) {\n  throw new Error('Invalid niche: ' + niche);\n}\n\n// Sanitise inputs\nconst businessName = String(body.business_name).trim().substring(0, 120);\nconst suburb = String(body.suburb).trim().substring(0, 80);\nconst phone = body.phone ? String(body.phone).trim().substring(0, 20) : null;\nconst cfToken = body.cf_turnstile_token || null;\n\n// UTM passthrough\nconst utm = {\n  utm_source: body.utm_source || null,\n  utm_medium: body.utm_medium || null,\n  utm_campaign: body.utm_campaign || null,\n  utm_content: body.utm_content || null,\n  referrer_url: body.referrer_url || null\n};\n\nreturn [{\n  json: {\n    business_name: businessName,\n    niche,\n    suburb,\n    phone,\n    cf_turnstile_token: cfToken,\n    ...utm\n  }\n}];"
      }
    },
    {
      "id": "a1b2c3d4-0001-0003-0001-000000000003",
      "name": "Verify Turnstile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "parameters": {
        "method": "POST",
        "url": "https://challenges.cloudflare.com/turnstile/v0/siteverify",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "secret", "value": "={{ $vars.CLOUDFLARE_TURNSTILE_SECRET }}" },
            { "name": "response", "value": "={{ $json.cf_turnstile_token }}" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0001-0004-0001-000000000004",
      "name": "Turnstile Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "cond-turnstile",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-0005-0001-000000000005",
      "name": "Upsert Lead to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 200],
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.SUPABASE_URL }}/rest/v1/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $vars.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Authorization", "value": "=Bearer {{ $vars.SUPABASE_SERVICE_ROLE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={\n  \"business_name\": \"{{ $('Validate Fields').first().json.business_name }}\",\n  \"niche\": \"{{ $('Validate Fields').first().json.niche }}\",\n  \"suburb\": \"{{ $('Validate Fields').first().json.suburb }}\",\n  \"phone\": {{ $('Validate Fields').first().json.phone ? '\"' + $('Validate Fields').first().json.phone + '\"' : 'null' }},\n  \"cf_turnstile_ok\": true,\n  \"utm_source\": {{ $('Validate Fields').first().json.utm_source ? '\"' + $('Validate Fields').first().json.utm_source + '\"' : 'null' }},\n  \"utm_medium\": {{ $('Validate Fields').first().json.utm_medium ? '\"' + $('Validate Fields').first().json.utm_medium + '\"' : 'null' }},\n  \"utm_campaign\": {{ $('Validate Fields').first().json.utm_campaign ? '\"' + $('Validate Fields').first().json.utm_campaign + '\"' : 'null' }},\n  \"utm_content\": {{ $('Validate Fields').first().json.utm_content ? '\"' + $('Validate Fields').first().json.utm_content + '\"' : 'null' }},\n  \"referrer_url\": {{ $('Validate Fields').first().json.referrer_url ? '\"' + $('Validate Fields').first().json.referrer_url + '\"' : 'null' }}\n}",
        "options": {}
      }
    },
    {
      "id": "a1b2c3d4-0001-0006-0001-000000000006",
      "name": "Extract Lead ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 200],
      "parameters": {
        "jsCode": "const row = Array.isArray($input.first().json) ? $input.first().json[0] : $input.first().json;\nconst leadId = row.lead_id;\n\nif (!leadId) {\n  throw new Error('Supabase did not return lead_id. Check Prefer: return=representation header.');\n}\n\nreturn [{ json: { lead_id: leadId, ...row } }];"
      }
    },
    {
      "id": "a1b2c3d4-0001-0007-0001-000000000007",
      "name": "Respond 200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 200],
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [{ "name": "Content-Type", "value": "application/json" }]
          }
        },
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, lead_id: $json.lead_id }) }}"
      }
    },
    {
      "id": "a1b2c3d4-0001-0008-0001-000000000008",
      "name": "Trigger GBP Lookup",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1780, 200],
      "parameters": {
        "workflowId": "={{ $vars.WORKFLOW_ID_02_GBP_LOOKUP }}",
        "options": { "waitForSubWorkflow": false },
        "data": {
          "specifyData": "json",
          "jsonData": "={{ JSON.stringify({ lead_id: $('Extract Lead ID').first().json.lead_id, business_name: $('Extract Lead ID').first().json.business_name, niche: $('Extract Lead ID').first().json.niche, suburb: $('Extract Lead ID').first().json.suburb }) }}"
        }
      }
    },
    {
      "id": "a1b2c3d4-0001-0009-0001-000000000009",
      "name": "Respond 400 Bad Token",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 420],
      "parameters": {
        "options": {
          "responseCode": 400,
          "responseHeaders": {
            "entries": [{ "name": "Content-Type", "value": "application/json" }]
          }
        },
        "respondWith": "json",
        "responseBody": "{\"success\": false, \"error\": \"Security check failed. Please refresh and try again.\"}"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Validate Fields", "type": "main", "index": 0 }]]
    },
    "Validate Fields": {
      "main": [[{ "node": "Verify Turnstile", "type": "main", "index": 0 }]]
    },
    "Verify Turnstile": {
      "main": [[{ "node": "Turnstile Valid?", "type": "main", "index": 0 }]]
    },
    "Turnstile Valid?": {
      "main": [
        [{ "node": "Upsert Lead to Supabase", "type": "main", "index": 0 }],
        [{ "node": "Respond 400 Bad Token", "type": "main", "index": 0 }]
      ]
    },
    "Upsert Lead to Supabase": {
      "main": [[{ "node": "Extract Lead ID", "type": "main", "index": 0 }]]
    },
    "Extract Lead ID": {
      "main": [[{ "node": "Respond 200 OK", "type": "main", "index": 0 }]]
    },
    "Respond 200 OK": {
      "main": [[{ "node": "Trigger GBP Lookup", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": ["preview-factory", "phase-f"],
  "notes": "Triggered by the /landing page 3-field form. Validates Cloudflare Turnstile, writes lead row, responds 200 immediately, then fires workflow 02 asynchronously. Set WORKFLOW_ID_02_GBP_LOOKUP n8n variable to the numeric ID of workflow 02 after import."
}
